@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap');

body {
    background: url(./images/69-691641_m.jpg) no-repeat fixed 50% 50%;
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
}

/* h1, label, button, th{
    font-family: 'Audiowide', sans-serif;
    text-transform: uppercase;
} */

td {
    font-family: sans-serif;
    text-transform: none;
}


p {
    font-size: 14px;
}